.team-section {
    max-width: 1130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.team-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-header-title-container {
    width: 533px;
    height: 152px;
}

.team-header-title {
    color: var(--black);
}

.team-header-description-container {
    width: 533px;
    height: 96px;
}

.team-header-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--gray);
}

.team-content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}