.solutions-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.solutions-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.solutions-header-title {
    color: rgba(16, 16, 16, 1);
}

.solutions-header-description {
    width: 542px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.5);
}

.solutions-content {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.solutions-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.solutions-btn {
    border-radius: 10px;
    border: 1px solid var(--green);
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    background-color: transparent;
    color: var(--green);
}